<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recommendation Engine</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'reco/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="http://scientist.org.in/favicon.png">
        
    </head>
    <body>
    <!-- List of uploaded documents -->
    
    <div class="container">
          <div class="header clearfix">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a href="http://scientist.org.in" class="navbar-brand scroll-to"><img class="logo" src="http://scientist.org.in/img/logo.png" alt=""></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                   
                  </div><!--/.nav-collapse -->
                </div>
              </nav>
            <nav>
  
            </nav>
            <h3 class="text-muted">Try out a quick demo of Recommendation Engine<</h3>
          </div>
    
        <div class="jumbotron">
            <h2>Recommendation Engine</h2>
            <hr/>
            <p class="lead">Search for your recent favorite movies and let us know what you like </p>
            <p class="small">You will instantly find other movies which you will love to watch</p>
            <p>Have a personalized experience</p>
            
            <div class="search row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div id="imaginary_container"> 
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control search_text"  placeholder="Search" >
                                    <span class="input-group-addon">
                                        <button class="search_button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
      
       
        </div>
        <hr>
        <div class=="container">
    
        <div class="container jumbotron">
            <h2>Liked Movies</h2>
            <hr>
            <div class="liked_movies">
                
            </div>
            
            
            
            
              <div class="row ">
            <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-warning btnsubmit">Get recommendations</button>    
            </div>
            
        </div>      
        </div>
        
        <br>
    </div>
        <hr>
    <div class=="container">
    
        <div class="jumbotron container">
            <h2>You would love to watch</h2>
            <hr>
            <div class="recommendations_nlp">
                
            </div>
            
            
            
                    
        </div>
        
    </div>
    <hr>
    <div class="jumbotron container">
    
        <h2>You might also like</h2>
        <hr>    
            <div class="recommendations">
                
            </div>
            
            
                    
        </div>
        
    </div>

    
    
    <hr>
      <div class="container footer-notes-full">
        <div class="row">
        
        <div class="footer-notes col-lg-4">
          <h4>On Performance</h4>
          <p>We have our entire structure geared up to tackle massive amount of data using sophisticated algorithms and latest data engineering</p>
        </div>
        <div class="footer-notes col-lg-4">
          <h4>On Accuracy</h4>
          <p>This demo uses user ratings available on movie database websites. For specific applications a huge number of online and offline parameters can be used to provide the most personalized experience </p>
        </div>
        <div class="footer-notes col-lg-4">
          <h4>On Ease of Use</h4>
          <p>Plug and Play. Link your databases, call the algorithm and leave with your recommendations</p>
        </div>
        
      </div>
      </div>
        <!-- Upload form. Note enctype attribute! -->

        <footer class="footer">
            <div class="container text-center">
                <p>&copy; 2016 Scientist.</p>
            </div>
      </footer>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{% static 'reco/main.js' %}"></script>
  
    </body>
</html> 